.row-form {
    margin: 10px 0;
    display: flex;
}

.row-label {
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
.row-content {
    display: inline-flex;
}

.plus.radius, .minus.radius, .plus.font-size, .minus.font-size {
    cursor: pointer;
    margin: 5px 5px 0px 5px;
}
.form-control.form-input {
    background-color: #ffffff;
    width: 35px;
    text-align: center;
}
#colorSelector {
    margin-left: 5px;
}
.restart, .print, .jpeg, .gif, .new, .save, .send, .send-email, .add-new-text, .save-image {
    cursor: pointer;
    color: #ffffff !important;
    background-color: #00597b !important;
    border-color: #00597b !important;
    border-radius: 2.3rem;
}
.logo {
    text-align: right;
}

#mask-load {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

.modal { font-size:14px; color:#778899; text-decoration:none; border-bottom:1px dashed #778899; }

#modal_form, #modal_form_send {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}
#modal_form_send {
    height: 180px;
}
#modal_form #modal_close, #modal_form_send #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
.lang {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size: 20px;
}
.lang li {
    display: inline;
}

.ok-message {
    color: green;
}

.error-message {
    color: red;
}

.error-input {
    border: 1px red solid;
}
.ok-input {
    border: 1px green solid;
}